:root {
  --color-background-dark: hsl(252, 7%, 13%);
  --color-background-bright: hsl(38, 36%, 96%);
  --color-highlight: hsl(177, 52%, 32%);
  --color-text-primary: hsl(0, 0%, 70%);
  --color-text-secondary: black;
  --color-text-paragraph: hsl(0, 0%, 41%);
  --color-destructive-action: hsl(7, 58%, 50%);
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul {
  font-family: "PublicSans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-text-paragraph);
  font-size: 0.9rem;
  line-height: 120%;
}

h2 {
  font-size: 1.15rem;
}

dialog[open] {
  margin: auto;
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 480px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;
  overflow: auto;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  background-color: var(--color-background-dark);
  font-family: "PublicSans";
}

button:not(.form-select):hover {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  background-blend-mode: overlay;
}

.button-destructive {
  background-color: var(--color-destructive-action);
  color: white;
}

.anchor {
  position: relative;
}

.icon-clickable {
  color: var(--color-text-paragraph);
  cursor: pointer;
  display: flex;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-text-paragraph);
}

.form-input {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-background-dark);
  line-height: 150%;
  font-family: "PublicSans";
}

.form-input::placeholder {
  font-family: "PublicSans";
}

.form-select {
  appearance: none;
  background: url("~/assets/icons/icon-caret-down.svg") no-repeat 95%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: normal;
  color: black;
}

.form-options {
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  overflow: hidden;
  position: absolute;
  top: 120%;
  background-color: white;
  width: 100%;
}

.form-option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 1rem;
  line-height: 150%;
  font-size: 0.9rem;
  border-top: 1px solid var(--color-text-primary);
}

.form-option:hover,
.form-option:active {
  background-color: var(--color-background-bright);
}

.form-option:first-of-type {
  border-top: unset;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.meter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meter-bar {
  background-color: var(--color-background-bright);
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.meter-bar-indicator {
  height: 100%;
  border-radius: 5px;
}

.meter-percentage {
  font-weight: bold;
  font-size: 0.875rem;
}

.meter-target {
  font-size: 0.75rem;
}

.balance-display {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
