:root {
  --color-background-dark: hsl(252, 7%, 13%);
  --color-background-bright: hsl(38, 36%, 96%);
  --color-highlight: hsl(176, 46%, 35%);
  --color-text-primary: hsl(0, 0%, 70%);
  --color-text-secondary: black;
  --color-text-paragraph: hsl(0, 0%, 41%);
  --color-destructive-action: hsl(7, 58%, 50%);
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul {
  font-family: "PublicSans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-text-paragraph);
}

h2 {
  font-size: 1.15rem;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  max-width: 480px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

button:hover,
button:active {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-blend-mode: overlay;
}

.destructive-button {
  background-color: var(--color-destructive-action);
  color: white;
}
